.App {
  height: 100%;
}
body, html {
  height: 100%;
  font-family: "Lato";
}
main {
  margin-bottom: 10vh !important; 
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color:  #84728F;
  font-size: 16px;
  padding: 15px;
  text-align: left;
}
.float-right {
  float: right;
}
.top-spacing {
  margin-top: 1.5em;
}

.top-spacing-2 {
  margin-top: 3em;
}
.btm-spacing {
  margin-bottom: 1.5em;
}

main {
  margin-top: 1em;
}
.login-fields {
  margin: 0 !important; 
}
.top-nav {
  margin: 0 !important;
}
#profile {
  padding: 12px 16px;
  margin: 0 0 -2px 0 !important;
  line-height: 14px;
}
.remove-btn {
  margin-top: 2em !important;
}
.url {
  padding: 10px 0 10px 10px; 
}
.pr {
  padding-right: 10px;
}
.middle {
  margin-top: 10%;
}
.mauve-font {
  color: #84728F !important;
}
.mauve-bg {
  background-color: #84728F !important;
}
.pink-font {
  color: #DF84A4 !important;
}
.pink-bg {
  background-color: rgba(223, 132, 164, 0.3) !important;
}
.pink-outline {
  border-color: rgba(223, 132, 164, 0.3) !important;
}
.btn-pair {
  text-align: center !important;
}
.white-font {
  color: white !important
}
.dark-grey {
  color: #403c3b !important;
}
footer a {
  color: white !important;
}
footer a:hover, a:visited {
  color: #5A2737 !important;
}
.top-nav .item {
  color: black !important;
}
.burgundy-font {
  color: #5A2737 !important;
}
h1 {
  color: #5A2737 !important;
}
h2 {
  color: #84728F !important;
}
a, .link a {
  color: #403c3b !important;
}
a:hover, a:visited, #link {
  color: #84728F !important;
}
.btn-outline {
  border:  #84728F 2px solid !important;
  color: #84728F !important;
  background-color: white !important; 
}
.lost {
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
  opacity: 60%;
}

.error {
  color:  #84728F !important;
  font-size: 25em;
  position: absolute;
  opacity: 70%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.relative {
  position: relative;
  text-align: center;
}

.absolute {
  position: absolute;
}

.pg {
  font-size: 1.2em;
  color: #5A2737 !important;
  font-family: 'Lato' sans-serif;
}

.square {
  max-width: 250px;
  width: 250px;
  max-height: 250px;
}
.about {
  font-size: 1.2em;
}

.alert {
  margin: 0 auto !important; 
  padding: 0 auto !important;
}
#home {
  max-height: 70vh !important;
}
#logo {
  max-height: 100px;
}
.recipePic image {
  max-height: 300px;
}