.App {
  height: 90vh;
}
body, html {
  height: 100%;
  font-family: "Lato";
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color:  #84728F;
  font-size: 16px;
  padding: 15px;
  text-align: left;
}
.float-right {
  float: right;
}
.top-spacing {
  margin-top: 1.5em;
}

.top-spacing-2 {
  margin-top: 3em;
}
.btm-spacing {
  margin-bottom: 1.5em;
}

main {
  margin-top: 1em;
}
.login-fields {
  margin: 0 !important; 
}
.top-nav {
  margin: 0 !important;
}
#profile {
  padding: 12px 16px;
  margin: 0 0 -2px 0 !important;
  line-height: 14px;
}
.remove-btn {
  margin-top: 2em !important;
}
.url {
  padding: 10px 0 10px 10px; 
}
.pr {
  padding-right: 10px;
}
.middle {
  margin-top: 10%;
}
.mauve-font {
  color: #84728F !important;
}

.mauve-bg {
  background-color: #84728F !important;
}
.pink-font {
  color: #DF84A4 !important;
}
.pink-bg {
  background-color: rgba(223, 132, 164, 0.3) !important;
}
.pink-outline {
  border-color: rgba(223, 132, 164, 0.3) !important;
}
.btn-pair {
  text-align: center !important;
}
.white-font {
  color: white !important
}
.dark-grey {
  color: #403c3b !important;
}
footer a {
  color: white;
}
footer a:hover, a:visited {
  color:  #DF84A4;
}
